# Airflow
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=replace-with-generated-fernet-key
AIRFLOW_API_AUTH_JWT_SECRET=replace-with-random-secret
AIRFLOW_DB_PASSWORD=change-me
AIRFLOW_ADMIN_USERNAME=airflow
AIRFLOW_ADMIN_PASSWORD=change-me

# CRM and telemetry
CRM_DB_PASSWORD=change-me
TELEMETRY_DB_PASSWORD=change-me

# ClickHouse
CLICKHOUSE_PASSWORD=change-me

# Auth service database and session
AUTH_DB_PASSWORD=change-me
REDIS_PASSWORD=change-me

# Keycloak
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=change-me
KEYCLOAK_DB_PASSWORD=change-me
KEYCLOAK_CLIENT_SECRET=change-me

# Yandex ID
YANDEX_CLIENT_ID=change-me
YANDEX_CLIENT_SECRET=change-me

# LDAP
LDAP_ADMIN_PASSWORD=change-me
LDAP_CONFIG_PASSWORD=change-me
LDAP_BIND_CREDENTIAL=change-me

MINIO_ROOT_USER=change-me
MINIO_ROOT_PASSWORD=change-me
MINIO_BUCKET=bionicpro-reports

MINIO_ENDPOINT=http://localhost:9010
MINIO_ACCESS_KEY=change-me
MINIO_SECRET_KEY=change-me

REPORT_CDN_BASE_URL=http://localhost:3000/cdn

REPORT_OBJECT_KEY_SECRET=replace-with-random-secret