/postgres-keycloak-data
2024__yandex-architecture-sso.code-workspace

.idea/

postgres-keycloak-data/
redis-data/

ldap-data/
ldap-config/

backups/
/.env
/airflow/logs/

# Python
__pycache__/
*.py[cod]

# Maven
**/target/

# Frontend
**/node_modules/
**/build/